/* ----------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: hsl(0, 0%, 98%);
    color: hsl(229, 6%, 66%);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    width: 100%;
    min-height: 100vh;
}

/* ----------------------------------------- */
/* MAIN */
/* ----------------------------------------- */

main {
    width: 100%;
    padding: 5%;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

h1 {
    font-size: 2.3rem;
    font-weight: 200;
}

h2 {
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: .8rem;
}

h1,
h2,
h3 {
    color: hsl(234, 12%, 34%);
}

p {
    line-height: 1.8rem;
}

/* ----------------------------------------- */
/* INTRO */
/* ----------------------------------------- */

.intro {
    width: 500px;
    margin-bottom: 4rem;
    text-align: center;
}

/* ----------------------------------------- */
/* CARDS */
/* ----------------------------------------- */

.cards {
    width: 90%;
    margin: 0 auto;
}

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: .5em;
    padding: 2.2em;
    width: 25em;
    margin: 2em auto;
    -webkit-box-shadow: 0px 5px 15px 7px hsla(212, 51%, 71%, 0.2);
    box-shadow: 0px 5px 15px 7px hsla(212, 51%, 71%, 0.2);

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.card--supervisor {
    border-top: 4px solid hsl(180, 62%, 55%);
}

.card--team-builder {
    border-top: 4px solid hsl(0, 78%, 62%);
}

.card--karma {
    border-top: 4px solid hsl(34, 97%, 64%);
}

.card--calculator {
    border-top: 4px solid hsl(212, 86%, 64%);
}

.card__icon {
    margin-top: 2em;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

/* ----------------------------------------- */
/* FOOTER */
/* ----------------------------------------- */

footer {
    margin: 5rem 0 2rem 0;
    text-align: center;
    font-size: 0.8rem;
}

footer p {
    line-height: 160%;
}

footer a {
    text-decoration: none;
    background: linear-gradient(45deg, hsl(180, 62%, 55%), hsl(212, 86%, 64%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer a:hover,
footer a:active  {
    background: linear-gradient(45deg, hsl(0, 78%, 62%), hsl(34, 97%, 64%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ----------------------------------------- */
/* MEDIA QUERIES */
/* ----------------------------------------- */

@media only screen and (min-width: 768px) {

    .cards {
        display: grid;
        grid-template: repeat(4, 1fr) / repeat(3, 1fr);
        grid-gap: 2rem;
    }

    .card {
        margin: 0;
        width: 100%;
    }

    .card--supervisor {
        grid-area: 2 / 1 / span 2 / span 1;
    }

    .card--team-builder {
        grid-area: 1 / 2 / span 2 / span 1;
    }

    .card--karma {
        grid-area: 3 / 2 / span 2 / span 1;
    }

    .card--calculator {
        grid-area: 2 / 3 / span 2 / span 1;
    }
}

@media only screen and (max-width: 570px) {
    h1 {
        font-size: 1.6rem;
    }
    
    h2 {
        font-size: 1.6rem;
        margin-bottom: 1.5rem;
    }
    
    h3 {
        font-size: 1.2rem;
        margin-bottom: .8rem;
    }

    p {
        font-size: .8rem;
        line-height: 1.5rem;
    }

    .intro {
        margin-top: 4rem;
        width: 95%;
    }

    .intro p {
        font-size: .9rem;
    }

    .card {
        width: 100%;
        padding: 1.8em;
    }
}